<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/application.css">
</head>
<body>
  <div class="container">
    <form method="post" action="/listings">
      <label>Minimum Price</label>
      <input type = "text" name="min_price"><br>
      <label>Maximum Price</label>
      <input type = "text" name="max_price"><br>
      <label>Minimum Bedrooms</label>
      <input type = "text" name="min_bed"><br>
      <label>Maximum Bedrooms</label>
      <input type = "text" name="max_bed"><br>
      <label>Minimum Bathrooms</label>
      <input type = "text" name="min_bath"><br>
      <label>Maximum Bathrooms</label>
      <input type = "text" name="max_bath"><br>
      <input type = "submit" value="Query Listings">
    </form>
  </div>
</body>
</html>


